<button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
    <img ...attributes>
    {{!-- {{#if this.isLarge}} --}}
    {{!-- <small>View Smaller</small> --}}
    
{{!-- </div> --}}
{{!-- </button> --}}
{{!-- {{else}} --}}
{{!-- <div class="image"> --}}
    {{!-- <button type="button" class="image" {{on "click" this.toggleSize}}> --}}
    {{!-- <img ...attributes> --}}
    {{!-- {{else}} --}}
    {{!-- <small>View Larger</small> --}}
{{!-- </div> --}}
{{!-- </button> --}}
{{!-- {{/if}} --}}
<small>View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>